@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

.btn-primary {
  @apply px-4 py-2 rounded-md bg-indigo-600 text-white shadow hover:bg-indigo-700 transition;
}
